<!DOCTYPE html>
<html lang="en">
<head>
  <title>NEWSPAPER</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NEWSPAPER</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="row">
      <div class="col-md-3"></div>

      <div class="col-md-6">
        <form class="form-inline" action="/search" method="post">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Keywords" id="search" keywords="search">
          </div>
          <div> 
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Start Date(yyyy/mm/dd)" id="search" startdate="search">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="End date(yyyy/mm/dd)" id="search" enddate="search">
          </div>
          <button type="submit" class="btn btn-default">Search</button>
        </form>
      </div>

      <div class="col-md-3"></div>
    </div>
</div>
</body>
</html>
