{% extends 'base.html' %}
{% block content %}
    <p>Hello, World!123</p>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.terms.label(class="form-label") }}
            {{ form.terms(class="form-control") }}
            <br />

            {{ form.startdate.label(class="form-label") }} 
            {{ form.startdate(class='datepicker form-control')}} 
            <br />

            {{ form.enddate.label(class="form-label") }} 
            {{ form.enddate(class='datepicker form-control')}} 
            <br />

            {{ form.selected_channels.label(class="form-label")}}
            {{ form.selected_channels(class="col-4 form-check form-check-inline form-control")}}
            <br />

            {{ form.submit(class="btn btn-secondary") }}
        </form>
    </div>
    {% if pagination %}
        {{ pagination.info|safe }}

        {{ pagination.links }}

        {% for a in articles %}
            <h1> {{a}}</h1>
        {% endfor %}
        {{ pagination.links }}
    {% endif %}
    

    {% if startdate %}
        <h1> {{startdate}}</h1>
        <h1> {{enddate}}</h1>
        {% for i in selected_channels %}
            <h1> {{i}}</h1>
        {% endfor %}
    {% endif %}
{% endblock %}